body h1 {
  text-align: center;
  color: rgba(72, 72, 72, 0.95);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 0.5fr));
  grid-auto-rows: 15vh;
  gap: 10px;
  padding: 5% max(30px, 5%);
  border: 2px solid rgba(72, 72, 72, 0.95);
  border-radius: 10px;
  margin: 2% max(30px, 5%);
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  border-radius: 10px;
}

button {
  width: 10rem;
  height: 3rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  border-style: none;
}
button:first-child {
  background-color: darkgreen;
}
button:first-child:hover {
  background-color: rgb(1, 135, 1);
}
button:last-child {
  background-color: rgb(126, 27, 27);
}
button:last-child:hover {
  background-color: rgb(158, 33, 33);
}
